@import "navfot";

// load
@keyframes ripple_4 {
    0% {
        box-shadow: 0 0 0 0 rgba(82, 195, 241, 0.3), 0 0 0 10px rgba(82, 195, 241, 0.3),
    }

    100% {
        box-shadow: 0 0 0 10px rgba(82, 195, 241, 0.3), 0 0 0 20px rgba(82, 195, 241, 0);
    }
}

.load {
    width: 100%;
    height: 100%;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 990;
    left: 0;
    top: 0;
    // background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
        width: 100%;
        height: 100%;
        background: #FFFFFF;
        left: 0;
        top: -100%;
        transition: all 0.8s;
        transform: translateY(51%);
    }

    &::after {
        width: 100%;
        height: 100%;
        background: #FFFFFF;
        left: 0;
        bottom: -100%;
        transition: all 0.8s;
        transform: translateY(-51%);
    }

    .icon {
        display: inline-block;
        border-radius: 50%;
        animation: ripple_4 1s linear infinite;
        position: relative;
        width: 65px;
        height: 65px;
        overflow: hidden;
        z-index: 10;
        transition: all 0.5s;

        img {
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.load.on {

    &::before,
    &::after {
        transform: translateY(0);
    }

    .icon {
        opacity: 0;
    }

    &::before {
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    }

    &::after {
        box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
    }
}

// 框架
.page-all {
    z-index: 10;
    transition: all 0.5s;
}

.page-all.on {
    transform: scale(0.4, 0.4);
}

a {
    color: inherit;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.page-content {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin: auto;
    overflow: hidden;
}

.page-content .page-wrapper .page-slide>div {
    width: 100%;
    height: 100%;
    transform: scale(0.7);
    transition: 1s;
    position: relative;
    transition-delay: 0.5s;
}

.page-content .page-wrapper .page-slide.swiper-slide-active>div {
    width: 100%;
    height: 100%;
    background-size: cover;
    transform: scale(1);
    transition-delay: 0s;
}

.page-one {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background: rgba(45, 78, 155, 0.2);
}

.page-two {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    background-size: cover;
    background-color: rgba(21, 54, 46, 0.5);
    background: url(../image/bg2.png) no-repeat center center;
    background-size: cover;
}

.page-three {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(25, 91, 45, 1);
    background: url(../image/bg3.png) no-repeat center center;
}

.page-four {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(255, 30, 150, 0.2);
    background: url(../image/bg4.png) no-repeat center center;
}

.page-five {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(14, 45, 65, 0.2);
    background: url(../image/bg6.png) no-repeat center center;
}

.page-six {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(14, 45, 65, 0.5);
}

.page-seven {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(145, 45, 65, 0.5);
}

.page-pagintion {
    position: absolute;
    z-index: 50;
    display: inline-block;
    width: 10px;
    right: 20px !important;
    top: 50% !important;
    left: auto;
    bottom: auto;
    height: auto;
    transform: translateY(-50%) !important;

    &::before {
        width: 1px;
        height: 100%;
        top: 0;
        right: 4.5px;
        border-left: 1px dashed #D8D8D8;
    }

    span {
        width: 10px;
        height: 10px;
        position: relative;
        z-index: 10;
        opacity: 1;
        background: #D8D8D8;
        margin: 0 0 40px !important;

        &:last-child {
            margin: 0 !important;
        }

        &::before {
            width: 20px;
            height: 20px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            border: 1px solid #D8D8D8;
        }

        &::after {
            display: block;
            white-space: nowrap;
            font-size: 16px;
            color: #FFFFFF;
            top: 50%;
            transform: translateY(-50%);
            left: -50px;
        }

        &:nth-child(1)::after {
            content: "首页";
        }

        &:nth-child(2)::after {
            content: "概况";
        }

        &:nth-child(3)::after {
            content: "新闻";
        }

        &:nth-child(4)::after {
            content: "产业";
        }

        &:nth-child(5)::after {
            content: "联系";
        }
    }

    .swiper-pagination-bullet-active {
        background: #FFC000;

        &::before {
            border-color: #FFC000;
        }

        &::after {
            color: #FFC000;
        }
    }
}


/* 菜单 */

.wrap {
    position: fixed;
    z-index: 910;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    background: url(../image/bg3.png) no-repeat center center;
    background-size: cover;
}

.wrap-lef {
    float: left;
    width: 0;
    height: 100%;
    top: -100%;
    position: relative;
    max-width: calc(100% - 927px);
    transition: all 0.8s;

    // background: url(../image/bg3.png) no-repeat center center;
    &::before {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.4);
    }
}

.wrap-rig {
    float: left;
    width: 100%;
    height: 100%;
    top: 100%;
    position: relative;
    padding: 10% 4%;
    transition: all 0.8s;

    ul {
        position: relative;
        z-index: 10;
    }

    &::before {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.4);
    }
}

.menu_list {
    display: flex;
    justify-content: space-evenly;
}

.wrap .menu {
    position: absolute;
    right: 10%;
    top: 40px;
    width: 50px;
    height: 50px;
    transition: all 0.3s;
}

.wrap .menu:hover {
    transform: rotate(180deg);
}

.wrap .menu span {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 3px;
    /* background-color: #fff; */
    border-radius: 2px;
    vertical-align: middle;
    margin-top: 24px;
}

.wrap .menu span::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 3px;
    left: 0;
    border-radius: 2px;
    transform: rotate(45deg);
    top: 0;
    background: #fff;
}

.wrap .menu span::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 3px;
    left: 0;
    border-radius: 2px;
    transform: rotate(-45deg);
    bottom: 0;
    background: #fff;
}

.wrap.on .wrap-lef,
.wrap.on .wrap-rig {
    top: 0;
}

.menu_list {
    height: auto;
    overflow: hidden;
}

.menu_list .nli {
    display: inline-block;
    // float: left;
    margin: 0 2%;
}

.menu_list .nli>a {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    transition: .3s;
    cursor: pointer;
}

.menu_list .nli .sub {
    margin-top: 15%;
}

.menu_list .nli .sub li {
    line-height: 3;
}

.menu_list .nli .sub li a {
    font-size: 16px;
    color: #ffffff;
    position: relative;
}

.menu_list .nli .sub li a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    width: 0;
    height: 1px;
    background: #fff;
    left: 0;
    transition: .3s;
}

.menu_list .nli .sub li a:hover {
    color: #fff;
}

.menu_list .nli .sub li a:hover::after {
    width: 100%;
}

.menu_bottom {
    height: auto;
    overflow: hidden;
    position: absolute;
    bottom: 8%;
    width: 100%;
    left: 0;
    padding: 0 5%;
    @extend.df-sb;
}

.search {
    width: 230px;
    height: 37px;
    background: transparent;
    border: 1px solid #80a4c6;
    float: left;
    margin-top: 1.4%;
    margin-left: 3%;
}

.search .search_text {
    width: 72%;
    height: 35px;
    margin-left: 5%;
    border: 0;
    background: transparent;
    line-height: 35px;
    font-size: 14px;
    color: #fff;
    float: left;
    outline: 0;
}

.search .search_btn {
    width: 18%;
    height: 35px;
    background: url(../image/search.png) no-repeat center;
    border: 0;
    float: right;
    cursor: pointer;
}

.tel {
    float: left;
    font-size: 14px;
    padding-left: 52px;
    background: url(../image/telicon.png) no-repeat left center;
    font-weight: normal;
    color: #fff;
}

.tel b {
    font-size: 18px;
    font-weight: bold;
}

@media (max-width:927px) {
    .wrap-lef {
        display: none;
    }

    .wrap-rig {
        min-width: 100%;
        padding: 65px 30px 10px 10px;
    }

    .wrap .menu {
        right: 10px;
        top: 10px;
    }

    .menu_list .nli>a {
        font-size: 1.125rem;
    }

    .menu_list {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        overflow: hidden;
        overflow-y: scroll;
    }

    .menu_bottom {
        display: none;
    }

    .menu_list .nli .sub li {
        line-height: 40px;
    }

    .menu_list .nli .sub li a {
        font-size: 1rem;
    }
}

.wl {
    /* min-width: 1200px; */
    background-color: #FFFFFF;
}


/* 1111111111111111111111111111111 */


/* banner */

.banner {
    width: 100%;
    height: 100%;

    .swiper-button-prev,
    .swiper-button-next {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        color: rgba(255, 255, 255, .5);
        border: 1px solid rgba(255, 255, 255, .2);
        color: #FFFFFF;
        transition: all 0.3s;
        z-index: 30;

        // background: rgba(82, 195, 241, 0.4);
        &::after {
            font-size: 30px;
        }

        &:hover {
            color: #FFFFFF;
            background: rgba(0, 0, 0, 0.7);
            box-shadow: 0 0 10px rgba(255, 255, 255, .5);
        }
    }

    .swiper-button-prev {
        left: 5%;
        padding-right: 4px;
    }

    .swiper-button-next {
        right: 5%;
        padding-left: 4px;
    }
}

.banner .swiper-wrapper {
    width: 100%;
    height: 100%;
}

.banner .swiper-wrapper .swiper-slide {
    width: 100%;
    height: 100%;
    position: relative;

    &#video {
        >img {
            display: none;
        }
    }

    video {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover
    }
}

.banner .swiper-slide>img {
    @extend .image;
}

.banner video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner .ban {
    position: absolute;
    width: 1620px;
    padding: 0 10px;
    max-width: 100%;
    height: 100%;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    // background: rgba(0, 0, 0, 0.2);
    z-index: 20;

    img {
        display: block;
    }
}

@keyframes and_none1 {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    to {
        -webkit-transform: scale3d(1.2, 1.2, 1);
        transform: scale3d(1.2, 1.2, 1);
    }
}

.banner .swiper-slide-active>img {
    -webkit-animation: and_none1 10s linear 0s both;
    animation: and_none1 10s linear 0s both;
}

.banner .swiper-slide-active .ban p {
    opacity: 1;
    transform: translate(0, 0);
}

.ban.b1 {
    padding-top: 25vh;
}

.ban img {
    opacity: 0;
}

.swiper-slide-active>.ban img {
    transition: all 1.5s;
}

.b11 {
    transform: translate(50%, 100%) scale(1.5, 1.5);
    transition-delay: 0.5s !important;
}

.b12 {
    margin-top: 2.6vh;
    transform: translate(50%, 300%) scale(1.5, 1.5);
    transition-delay: 1.5s !important;
}

.ban.b2 {
    padding-top: 21.57vh;
    padding-left: 6.875%;
}

.b21 {
    transform: translate(50%, 0) scale(1, 1);
    transition-delay: .5s !important;
}

.b22 {
    margin-top: 2.9vh;
    transform: translate(50%, 0) scale(1, 1);
    transition-delay: 1.5s !important;
}

.ban.b3 {
    padding-top: 25.68vh;
    text-align: center;

    img {
        margin: {
            left: auto;
            right: auto;
        }
    }
}

.b31 {
    transform: translate(0, 0) scale(1.5, 1.5);
    transition-delay: .5s !important;
}

.b32 {
    margin-top: 3.68vh;
    transform: translate(0, 0) scale(1.5, 1.5);
    transition-delay: 1.5s !important;
}

.ban.b4 {
    padding-top: 27vh;
}

.b41 {
    margin-left: -64px;
    transform: translate(0, 0) scale(2, 2);
    transition-delay: 1.5s !important;
}

.b42 {
    margin-top: 3.1vh;
    margin-left: -48px;
    transform: translate(0, 0) scale(2, 2);
    transition-delay: 2.5s !important;
}

.ban.b5 {
    padding-top: 26.8vh;
    padding-left: 3.75%;
}

.b51 {
    transform: translate(0, 100%) scale(1, 1);
    transition-delay: .5s !important;
}

.b52 {
    margin-top: 4vh;
    transform: translate(0, 200%) scale(1, 1);
    transition-delay: 1.5s !important;
}

.banner .swiper-slide-active .ban img {
    transform: translate(0, 0) scale(1, 1) !important;
    opacity: 1 !important;
}

// 搜索
.cd-popup {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: url(../image/grayBg.png) repeat;
    visibility: hidden;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
    z-index: 9999;
    opacity: 0;
}

.cd-popup.is-visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-popup-container {
    position: relative;
    height: 116px;
    padding: 40px;
    background: #fff;
    width: 60%;
    margin: 0 auto;
    top: 50%;
    margin-top: -58px;
    background: #FFF;
    border-radius: .4rem .4rem .4rem .4rem;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transform: scale(1.2);
    // -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    transition-duration: 0.3s;
}

.is-visible .cd-popup-container {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.hidden_search .search_wrap {
    border: 1px solid #e4eaec;
    border-radius: 20px;
    position: relative;
    padding-right: 56px;
    padding-left: 20px;
    height: 36px;
}

.hidden_search .text {
    width: 100%;
    height: 36px;
    padding: 8px 0;
    font-size: 14px;
    color: #444;
    background: none;
    border: none;
    font-family: "Microsoft Yahei";
}

.hidden_search .btn {
    display: block;
    background: url(../image/search_icon.jpg) no-repeat center center;
    position: absolute;
    right: 0;
    top: 0;
    height: 36px;
    width: 36px;
    text-indent: -999em;
    border: none;
    cursor: pointer;
}

.hidden_search .close_btn {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    width: 42px;
    height: 42px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.hidden_search .close_btn::after,
.hidden_search .close_btn::before {
    background: #cccccc;
    width: 20px;
    height: 3px;
    display: block;
    transition: all 0.3s ease 0s;
    position: absolute;
    left: 10px;
    top: 11px;
}

.hidden_search .close_btn::before {
    transform-origin: left bottom;
    transform: rotate(45deg);
}

.hidden_search .close_btn::after {
    transform-origin: left top;
    transform: rotate(-45deg);
    top: 26px;
}

.hidden_search .close_btn:hover::after,
.hidden_search .close_btn:hover::before {
    background: #004d24;
}