<footer>
	<div class="ft1">
		<div class="container">
			<div class="ft1-con">
				<!-- lef -->
				<div class="ft12">

					<div class="ft14">
						<span>关于我们</span>
						<ul>
							<li><a href="#qygk">企业概况</a></li>
							<li><a href="#gdjs">股东介绍</a></li>
							<li><a href="#zzjg">组织架构</a></li>
							<li><a href="#fzlc">发展历程</a></li>
							<li><a href="#zzry">资质荣誉</a></li>
							<li><a href="#qywh">企业文化</a></li>
							<li><a href="">企业宣传</a></li>
							<li><a href="#ygtd">员工天地</a></li>
						</ul>
					</div>

					<div class="ft14">
						<span>新闻中心</span>
						<ul>
							<li><a href="">企业新闻</a></li>
							<li><a href="">行业资讯</a></li>
							<li><a href="">媒体报道</a></li>
							<li><a href="">党建动态</a></li>
							<li><a href="">群团工作</a></li>
							<li><a href="">招标公告</a></li>
						</ul>
					</div>

					<div class="ft14">
						<span>企业发展</span>
						<ul>
							<li><a href="">企业战略</a></li>
							<li><a href="">产业规划</a></li>
						</ul>
					</div>

					<div class="ft14">
						<span>产业布局</span>
						<ul>
							<li><a href="">光伏产业板块</a></li>
							<li><a href="">环保节能板块</a></li>
							<li><a href="">其他产业板块</a></li>
						</ul>
					</div>

					<div class="ft14">
						<span>社会责任</span>
						<ul>
							<li><a href="">安全环保</a></li>
							<li><a href="">节能减排</a></li>
						</ul>
					</div>

					<div class="ft14">
						<span>携手企业</span>
						<ul>
							<li><a href="">联系我们</a></li>
							<li><a href="">人才招聘</a></li>
						</ul>
					</div>

				</div>
				<!-- rig -->
				<div class="ft13">

					<div class="ft14">
						<span>联系方式</span>
						<p>联系电话：023-63417547</p>
						<p>传真号码：023-63417547</p>
						<p>单位地址：渝北区人和街道 <br> 星光大道98号土星商务中心<br>b3栋7楼</p>
					</div>

					<a href="javascript:;">
						<img src="image/js84.png" alt="">
						<p>微信公众号</p>
					</a>

				</div>
			</div>
		</div>
	</div>
	<div class="ft2">
		<div class="container">
			<div class="ft21">
				<p>
					<span>Copyright ©2022 重庆千信集团有限公司 版权所有</span>
					<span>渝ICP备19001376号</span>
					<span>渝公安备 50019002501883号</span>
				</p>
				<p>
					技术支持：<a href="`">讯迈科技</a>
				</p>
			</div>
		</div>
	</div>
</footer>