<head>
    <meta charset="utf-8">
    <title>@-@title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name="keywords" content="@-@title">
    <meta name="description" content="@-@title">
    <meta name="format-detection" content="telephone-no">
    <meta http-equiv="x-rim-auto-match" content="none">
    <!-- Link Swiper's CSS -->
    <link rel="icon" href="image/icon.png" type="image/x-icon" />
    <link rel="stylesheet" href="lib/css/animate.min.css">
    <link rel="stylesheet" href="lib/css/aos.css">
    <link rel="stylesheet" href="lib/css/swiper.min.css">
    <!-- <link rel="stylesheet" href="lin/css/odometer.css"> -->
    <link rel="stylesheet" type="text/css" href="sass/style.css" />

    <script src="lib/js/isIE.js" type="text/javascript" charset="utf-8"></script>

    <script src="lib/js/prefixfree.js" type="text/javascript" charset="utf-8"></script>
    <!--[if lt IE 9]><script src="lib/js/htm5shiv.js"></script><![endif]-->

    <!-- js -->
    <script src="lib/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="lib/js/aos.js" type="text/javascript" charset="utf-8"></script>
    <script src="lib/js/swiper.animate1.0.3.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="lib/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>

    <!-- num -->
    <!-- <script src="lib/js/odometer.js" type="text/javascript" charset="utf-8"></script> -->

    <!-- countup.js -->
    <script src="lib/js/countup.js"></script>

    <!-- video -->
    <link rel="stylesheet" type="text/css" href="lib/css/video-js.css" />
    <script src="lib/js/videojs-ie8.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="lib/js/video.min.js" type="text/javascript" charset="utf-8"></script>

</head>