<div class="load">

	<div class="icon">
		<img src="image/icon.png" alt="">
	</div>

</div>

<nav>
	<div class="container">
		<div class="nav1">
			<a href="/" class="logo">
				<img src="image/logo.png" alt="">
			</a>
			<ul class="nav">
				<li class="on"><a href="">首页</a></li>
				<li><a href="">关于我们</a></li>
				<li><a href="">新闻中心</a></li>
				<li><a href="">党建引领</a></li>
				<li><a href="">产业布局</a></li>
				<li><a href="">信息公开</a></li>
				<li><a href="">社会责任</a></li>
			</ul>
			<a href="javascript:;" class="sou">
				<img src="image/sou1.png" alt="">
			</a>
			<a href="javascript:;" class="menu">
				<img src="image/menu1.png" alt="">
			</a>
		</div>
	</div>
</nav>

<!-- 搜索 -->
<div class="cd-popup">
	<div class="cd-popup-container hidden_search">
		<form action="#">
			<div class="search_wrap clearfix">
				<input type="text" name="keyword" id="" class="text" placeholder="搜索关键词">
				<input type="submit" value="搜索" class="btn">
			</div>
		</form>
		<a href="javascript:;" class="cd-popup-close close_btn"></a>
	</div>
</div>

<!-- 菜单 -->
<div class="wrap">
	<div class="wrap-rig">

		<a href="javascript:;" class="menu">
			<span></span>
		</a>

		<ul class="menu_list">
			<li class="nli">
				<a href="#">关于我们</a>
				<ul class="sub">
					<li><a href="#" target="_blank">企业概况</a></li>
					<li><a href="#" target="_blank">股东介绍</a></li>
					<li><a href="#" target="_blank">组织架构</a></li>
					<li><a href="#" target="_blank">发展历程</a></li>
					<li><a href="#" target="_blank">资质荣誉</a></li>
					<li><a href="#" target="_blank">企业文化</a></li>
					<li><a href="#" target="_blank">员工天地</a></li>
					<li><a href="#" target="_blank">联系我们</a></li>
				</ul>
			</li>
			<li class="nli">
				<a href="#">新闻中心</a>
				<ul class="sub">
					<li><a href="#" target="_blank">企业新闻</a></li>
					<li><a href="#" target="_blank">行业资讯</a></li>
					<li><a href="#" target="_blank">媒体报道</a></li>
				</ul>
			</li>
			<li class="nli">
				<a href="#">党建引领</a>
				<ul class="sub">
					<li><a href="#" target="_blank">党建工作</a></li>
					<li><a href="#" target="_blank">群团工作</a></li>
					<li><a href="#" target="_blank">党风廉政</a></li>
					<li><a href="#" target="_blank">主题教育</a></li>
				</ul>
			</li>
			<li class="nli">
				<a href="#">产业布局</a>
				<ul class="sub">
					<li><a href="#" target="_blank">光伏产业板块</a></li>
					<li><a href="#" target="_blank">环保节能板块</a></li>
					<li><a href="#" target="_blank">其他产业板块</a></li>
					<li><a href="#" target="_blank">企业战略</a></li>
					<li><a href="#" target="_blank">产业规划</a></li>
				</ul>
			</li>
			<li class="nli">
				<a href="#">信息公开</a>
				<ul class="sub">
					<li><a href="#" target="_blank">人才招聘</a></li>
					<li><a href="#" target="_blank">招标采购</a></li>
				</ul>
			</li>
			<li class="nli">
				<a href="#">社会责任</a>
				<ul class="sub">
					<li><a href="#" target="_blank">安全环保</a></li>
					<li><a href="#" target="_blank">节能减排</a></li>
				</ul>
			</li>
		</ul>

		<div class="menu_bottom">
			<div class="search">
				<form method="post" action="#">
					<input type="text" class="search_text" value="请输入搜索关键字" onfocus="if (value =='请输入搜索关键字'){value =''}"
						onblur="if (value ==''){value='请输入搜索关键字'}">
					<input type="button" class="search_btn">
				</form>
			</div>
			<h3 class="tel">服务热线：<br><b>023-88069999</b></h3>
		</div>

	</div>

</div>